/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.h1 {
  font-size: 80px;
  line-height: 94px;
}

.h1.title {
  border-bottom: solid 2px #363636;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.h2 {
  font-size: 32px;
  line-height: 43px;
}

.h2.title {
  border-bottom: solid 1px #000;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.h3 {
  font-size: 24px;
  line-height: 36px;
}

.content {
  font-size: 20px;
  line-height: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ddd;
}

a img:hover {
  opacity: 0.8;
}

/* layout  */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-lg {
  max-width: 996px;
  margin: 0 auto;
}

/* module  */
.column li:not(:last-child) {
  margin-bottom: 24px;
}

.row li:not(:last-child) {
  margin-right: 24px;
}

.full-block {
  background-color: #415165;
  color: #fff;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 36px;
}

.full-block .h2 {
  border-bottom: solid 1px #fff;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 16px;
}

.block-quote {
  padding-left: 24px;
  border-left: 1px solid #96a9c4;
}

.description {
  max-width: 642px;
}

/* Common */
.d-inline-block {
  display: inline-block !important;
}

.text-red {
  color: #a00404 !important;
}

.text-left {
  text-align: left !important;
}

/* margin top */
.mt-xl {
  margin-top: 72px !important;
}

.mt-lg {
  margin-top: 48px !important;
}

.mt-md {
  margin-top: 40px !important;
}

.mt-sm {
  margin-top: 20px !important;
}

.mt-xs {
  margin-top: 8px !important;
}

/* margin-bottom */
.mb-xl {
  margin-bottom: 72px !important;
}

.mb-lg {
  margin-bottom: 48px !important;
}

.mb-md {
  margin-bottom: 40px !important;
}

.mb-sm {
  margin-bottom: 20px !important;
}

.mb-xs {
  margin-bottom: 8px !important;
}

/* margin-top and bottom */
.my-xl {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

.my-lg {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-md {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.my-sm {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.my-xs {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
