/* base  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 80px;
  line-height: 94px;
}

h1.title {
  border-bottom: solid 2px #363636;
  margin-bottom: 17px;
}

h2 {
  font-size: 32px;
  line-height: 43px;
}

h2.title{
  border-bottom: solid 1px #000;
  padding-bottom: 16px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ddd;
}

a img:hover {
  opacity: 0.8;
}

ul.column li:not(:last-child) {
  margin-bottom: 24px;
}

ul.row li:not(:last-child) {
  margin-right: 24px;
}

/* layout  */
.wrap {
  margin-top: 47px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container-lg {
  max-width: 996px;
  margin: auto;
}

/* module  */
.full-block {
  background-color: #415165;
  color: #fff;
  padding: 24px 102px 36px;
  text-align: center;
}

.full-block h2 {
  border-bottom: solid 1px #fff;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 16px;
}

.block-quote {
  padding-left: 24px;
  border-left: 1px solid #96a9c4;
}

.description {
  max-width: 642px;
}

/* Common */
.d-inline-block {
  display: inline-block;
}

.text-red {
  color: #a00404;
}

.text-left {
  text-align: left;
}

/* margin top */
.mt-xl {
  margin-top: 72px;
}

.mt-lg {
  margin-top: 48px;
}

.mt-md {
  margin-top: 40px;
}

.mt-sm {
  margin-top: 20px;
}

.mt-xs {
  margin-top: 8px;
}

/* margin-bottom */
.mb-xl {
  margin-bottom: 72px;
}

.mb-lg {
  margin-bottom: 48px;
}

.mb-md {
  margin-bottom: 40px;
}

.mb-sm {
  margin-bottom: 20px;
}

.mb-xs {
  margin-bottom: 8px;
}

/* margin-top and bottom */
.my-xl {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-lg {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-md {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-sm {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-xs {
  margin-top: 8px;
  margin-bottom: 8px;
}
